// components/Navbar.module.scss
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
  background-color: #fffdfd;

  .logo img {
    height: 40px;
  }

  .links a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: 700;

    &:hover {
      color: #0070f3;
    }
  }

  .cart {
    display: flex;
    align-items: center;
    position: relative;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #333;
      
      &:hover {
        color: #0070f3;
      }

      img {
        height: 24px;
        margin-right: 10px;
      }

      .cartWrapper {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: red;
        top: -15px;
        right: 5px;
        text-align: center;
        span
        {
          font-size: 1rem;
          color: white;
          font-weight: 700;
        }
      }
    }
  }
}
